/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  --bgColor: rgba(0, 0, 0);
  --bgColorHover: rgba(0, 0, 0, 0.5);
}

/* Global Styles */
body {
  background-image: linear-gradient(rgb(79, 10, 75), rgba(71, 8, 6, 0.982));
  height: 100vh;
  color: rgba(255, 255, 255, 0.8);
}

.container {
  width: 350px;
  height: 90vh;
  border-radius: 20px;
  margin: 4vh auto;
  background-color: rgba(20, 19, 19);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.inline {
  background-color: var(--bgColor);
  font-size: 1.3rem;
  flex: 1 1 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline:hover,
.major:hover {
  background-color: var(--bgColorHover);
}

/* Dealing with input */
.topBox {
  height: 100px;
  background-color: var(--bgColor);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.topBox div {
  display: flex;
  justify-content: end;
}

#displayWorkings {
  font-size: large;
}

#displayResult {
  font-size: 25px;
  padding-top: 15px;
}

/* Dealing with major buttons */
.majorButtons {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
}

.major {
  background-color: var(--bgColor);
  padding: 20px 46px;
  border-radius: 10px;
}

/* Dealing with lower Box */
.downBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 auto;
}

.row {
  display: flex;
  gap: 10px;
  flex: 1 1 40px;
}
