* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgb(79, 10, 75), rgba(71, 8, 6, 0.982));
  min-height: 100vh;
  color: white;
  padding: 5vh 35vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(10, 10, 10);
  border-radius: 20px;
  padding: 20px;
  width: min-content;
  box-shadow: 2px 2px 5px black;
}

.topBox {
  height: 100px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: end;
}

#displayWorkings {
  font-size: large;
}

#displayResult {
  font-size: 25px;
  padding-top: 15px;
}

.majorButtons {
  margin: 15px 0;
  display: flex;
  gap: 15px;
}

.major {
  background-color: black;
  padding: 25px 0;
  border-radius: 10px;
  flex: 1 1 auto;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.item {
  background-color: black;
  font-size: 1.3rem;
  border-radius: 10px;
  padding: 20px 30px;
}

.item:hover,
.major:hover {
  transform: translate(2px, -2px) scale(1.03);
}
